{{ if $.Site.Params.marketing.google_tag_manager }}
  <!-- Google Tag Manager -->
  <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ $.Site.Params.marketing.google_tag_manager }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
{{ end }}

<div class="row">
<div class="col">
</div>
<div class="col">
<a href="https://clustrmaps.com/site/1blqh"  title="Visit tracker"><img  align="middle" src="//www.clustrmaps.com/map_v2.png?d=uh8EhhwckvrNQY8bFO-Wg6T7RPgL0igrqtvIjy0_STY&cl=ffffff" /></a>
</div>
</div>
